<app-sidebar></app-sidebar>
<main>
    <!-- <div class="thumbnail-container" *ngIf="!csvArray">
        <div class="thumbnail">
            <img src="../../../assets/icons/xls-sheet.svg" alt="xls-sheet.svg">
            <p class="text-secondary">Para realizar la importación, los tipos de
                archivos soportados son .xls .xlsx .csv </p>

            <app-input-radio [options]="radios" (action)="delimiter = $event.value"></app-input-radio>

            <button class="primary" (click)="uploader.click()">
                Cargar Archivo
            </button>
            <input hidden type="file" #uploader (change)="uploadFile($event)"
                accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
    </div>

    <ng-container *ngIf="csvArray">
        <div class="topbar-table">
            <h3>Selecciona las columnas para la importación:</h3>
            <button class="primary" (click)="save()">Importar</button>
        </div>
        <app-csv-table [data]="csvArray" (action)="importSelection = $event"></app-csv-table>
    </ng-container> -->
</main>
<app-topbar></app-topbar>