.table {
    width: 100%;
    overflow: auto;
    padding-left: 24px;
}

::ng-deep.mat-footer-row,
tr.mat-row {
    height: 70px;
}

.shadow-table {
    box-shadow: var(--shadow-panel) !important;
}

.active {
    padding: 8px 25px;
    background-color: var(--success);
    border-radius: 20px;
    color: white;
}

.staging {
    padding: 8px 25px;
    background-color: var(--warning);
    border-radius: 20px;
    color: white;
}

.revisions {
    padding: 8px 25px;
    background-color: var(--danger);
    border-radius: 20px;
    color: white;
}

.mat-menu-trigger {
    padding: 0;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: 500;
}

.button-menu {
    display: block;
    margin: auto;
    text-transform: capitalize;
    padding: 0;
}